@model SaleDetailsModel

@{
    this.ViewData["Title"] = $"Sale {this.Model.Id}";
}

<h2>@(this.ViewData["Title"])</h2>

<h3>@(this.Model.CustomerName)</h3>

<p>@((this.Model.Discount + (this.Model.IsYoungDriver ? 0.05 : 0)).ToPercent())</p>

<p>@(this.Model.DiscountedPrice.ToPrice())</p>

<p>@(this.Model.Car.Make) @(this.Model.Car.Model) - @(this.Model.Car.TravelledDistance.ToKm())</p>