@page
@model StatusModel
@{
    ViewData["Title"] = "History of book:";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Output.BookTitle</h3>

<table class="container table table-bordered table-hover table-striped mt-5">
    <thead class="thead-light">
    <tr class="d-flex">
        <th class="col-4">Borrower Name</th>
        <th class="col-4">Start Date</th>
        <th class="col-4">End Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var listing in Model.Output.Listings)
    {
        <tr class="d-flex">
            <td class="col-4">
                @listing.BorrowerName
            </td>
            <td class="col-4">
                @listing.StartDate.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td class="col-4 @listing.EndDateToString">
                @listing.EndDateToString
            </td>
        </tr>
    }
    </tbody>
</table>