@model BlogIndexViewModel

@{
    this.ViewData["Title"] = "Learning System Blog";
}

<h2>@(this.ViewData["Title"])</h2>

@foreach (var article in this.Model.Articles)
{
    <div>
        <div class="list-group">
            <div class="list-group-item list-group-item-action my-4">
                <a asp-area="Blog" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" asp-route-title="@article.Title.ToFriendlyUrl()" >
                    <div>
                        <h5 class="mb-1">@article.Title</h5>
                    </div>
                </a>
                <p>&nbsp;</p>

                <div>
                    @(this.Html.Raw(article.DisplayContent))
                </div>
            
                <div>
                    <div class="d-flex w-100 justify-content-between">
                        <small>By: @article.AuthorName</small>
                        <small>@article.PublishedDaysAgo @(article.PublishedDaysAgo != 1 ? "days" : "day") ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<pagination total-pages="@(this.Model.TotalPages)" current-page="@(this.Model.CurrentPage)" link-url="/Blog/Articles/Index"></pagination>