@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-5 mb-5">
    <div class="p-2 bg-white px-4 rounded">
        <form method="get" id="product-listing-form" class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center">
                <select class="form-control" asp-for="@(this.Model.TypeId)" asp-items="this.Model.CategoriesListItems"></select>
            </div>
            <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-row align-items-center">
                    <select class="form-control" asp-for="@this.Model.IsAscending" asp-items="this.Model.OrderListItems"></select>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        @foreach (var item in this.Model.Products)
        {
            <div class="col-md-4 col-lg-4 mt-2">
                <div class="p-4 bg-white rounded">
                    <div class="d-flex flex-column">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                            <div class="mb-2 p-image"><img class="img-fluid rounded" src="@item.PictureUri" height="250"></div>
                            <div class="text-center"><span class="p-name">@item.Name</span></div>
                        </a>
                        <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="">
                                <div class="btn-group" role="group">
                                    @* buttons redirect will change once functionality is implemented *@
                                    <a class="btn btn-outline-primary text-dark border-dark hover pt-2" asp-area="" asp-controller="Home" asp-action="Privacy" type="button">
                                        $@item.Price.ToString("F2")
                                    </a>
                                    <a class="btn btn-outline-primary text-dark border-dark hover" asp-area="" asp-controller="Home" asp-action="Privacy" type="button">
                                        <i class="fa fa-shopping-cart pt-0"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    let form = document.getElementById("product-listing-form");
    form.addEventListener('change', (event) => {
        form.submit();
    });
</script>