@* ReSharper disable MarkupTextTypo *@
@model DetailsViewModel

<h4>Всички вицове в категория: @this.Model.Category.Name</h4>


@foreach (var joke in this.Model.Jokes)
{
    <div class="card my-4">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@this.Html.Raw(joke.Content)</p>
            </blockquote>
        </div>
        <div class="card-header">
            @this.Model.Category.Name
        </div>
    </div>
}

<nav aria-label="Jokes navigation">
    <pagination current-page="@this.Model.CurrentPage" total-pages="@this.Model.TotalPages" link-url="@($"/Categories/Details/{this.Model.Category.Id}")"></pagination>
</nav>