@model HomeIndexViewModel

@{
    this.ViewData["Title"] = "Active Courses";
}

<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to Learning System</h1>
</div>

<form>
    <div class="input-group mb-3">
        <input class="form-control" asp-for="@this.Model.SearchText" placeholder="Search">
        <div class="input-group-append">
            <input type="submit" class="input-group-text" value="Search" />
        </div>
    </div>

    <div class="input-group mb-3">
        @for (var i = 0; i < this.Model.Searches.Count; i++)
        {
            var searchType = this.Model.Searches[i];

            <div class="input-group-prepend @(i is 0 ? string.Empty : $"ml-2")">
                <div class="input-group-text">
                    <input type="radio" asp-for="Search" value="@searchType" id="@searchType"/>
                </div>
                <label for="@searchType" class="input-group-text">@searchType</label>
            </div>
        }
    </div>
</form>

<partial name="_CoursesResults" model="this.Model.Courses"/>

<partial name="_ArticlesResults" model="this.Model.Articles"/>

<partial name="_UsersResults" model="this.Model.Users"/>

@if (this.Model.TotalPages > 1)
{
    <pagination 
        total-pages="@(this.Model.TotalPages)" 
        current-page="@(this.Model.Page)" 
        link-url="/" 
        query-params="@($"SearchText={this.Model.SearchText}&Search={this.Model.Search.ToString()}")"></pagination>
}