@model AddCourseFormModel

@{
    this.ViewData["Title"] = "Create Course";
}

<h2>@(this.ViewData["Title"])</h2>

<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@(this.Model.Name)"></label>
                <input asp-for="@(this.Model.Name)" class="form-control" />
                <span asp-validation-for="@(this.Model.Name)" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@(this.Model.Description)"></label>
                <textarea asp-for="@(this.Model.Description)" rows="10" class="form-control"></textarea>
                <span asp-validation-for="@(this.Model.Description)" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@(this.Model.StartDate)"></label>
                <input asp-for="@(this.Model.StartDate)" class="form-control" />
                <span asp-validation-for="@(this.Model.StartDate)" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@(this.Model.EndDate)"></label>
                <input asp-for="@(this.Model.EndDate)" class="form-control" />
                <span asp-validation-for="@(this.Model.EndDate)" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@(this.Model.TrainerId)"></label>
                <select asp-for="@(this.Model.TrainerId)" asp-items="@(this.Model.Trainers)" class="form-control"></select>
                <span asp-validation-for="@(this.Model.TrainerId)" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Add Course</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://cdn.tiny.cloud/1/yjxrfi8czpat0kf9wycjdpgvgbxadz5w6ntwzhejqpzbsxsc/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        let useLightMode = window.matchMedia('(prefers-color-scheme: light)').matches;

        tinymce.init({
            selector: '#Description',
            plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap tinycomments mentions quickbars linkchecker emoticons advtable',
            tinydrive_token_provider: 'URL_TO_YOUR_TOKEN_PROVIDER',
            tinydrive_dropbox_app_key: 'YOUR_DROPBOX_APP_KEY',
            tinydrive_google_drive_key: 'YOUR_GOOGLE_DRIVE_KEY',
            tinydrive_google_drive_client_id: 'YOUR_GOOGLE_DRIVE_CLIENT_ID',
            mobile: {
                plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker textpattern noneditable help formatpainter pageembed charmap mentions quickbars linkchecker emoticons advtable'
            },
            menu: {
                tc: {
                    title: 'TinyComments',
                    items: 'addcomment showcomments deleteallconversations'
                }
            },
            menubar: 'file edit view insert format tools table tc help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            image_advtab: true,
            link_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            templates: [
                { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            spellchecker_whitelist: ['Ephox', 'Moxiecode'],
            tinycomments_mode: 'embedded',
            content_style: '.mymention{ color: gray; }',
            contextmenu: 'link image imagetools table configurepermanentpen',
            a11y_advanced_options: true,
            skin: useLightMode ? 'oxide-dark' : 'oxide',
            content_css: useLightMode ? 'dark' : 'default',
        });
    </script>
}
