@model IEnumerable<ReceiptIndexViewModel>
@{
    this.ViewData["Title"] = "Receipts";
}


<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr class="hr-2 bg-panda">
<div class="d-flex justify-content-between">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-5 d-flex justify-content-center"><h3>Id</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Fee</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Issued On</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Recipient</h3></th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center"><h3>Actions</h3></th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var item in this.Model)
            {
                <tr class="row">
                    <td class="col-lg-5 d-flex justify-content-center">
                        <h5>@item.Id</h5>
                    </td>
                    <td class="col-lg-2 d-flex justify-content-center">
                        <h5>$@item.Fee.ToString("F2")</h5>
                    </td>
                    <td class="col-lg-2 d-flex justify-content-center">
                        <h5>@item.IssuedOn.ToString(GlobalConstants.DateTimeShortDateFormat)</h5>
                    </td>
                    <td class="col-lg-2 d-flex justify-content-center">
                        <h5>@item.RecipientUserName</h5>
                    </td>
                    <td class="col-lg-1 d-flex justify-content-center">
                        <a asp-controller="Receipt" asp-action="Details" asp-route-id="@item.Id" class="btn bg-panda text-white">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>