@* ReSharper disable Html.PathError *@
@model PartPageListingModel

@{
    this.ViewData["Title"] = "All Parts";
}

<h2>@(this.ViewData["Title"])</h2>

@(this.Html.Partial("_PartPagination", this.Model))

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in this.Model.Parts)
        {
            <tr>
                <td>@part.Name</td>
                <td>@part.Price.ToPrice()</td>
                <td>@part.Quantity</td>
                <td>@part.SupplierName</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/parts/edit/@part.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/parts/delete/@part.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@(this.Html.Partial("_PartPagination", this.Model))
