@model CategoryViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<h1 class="display-3">@this.ViewData["Title"]</h1>

<div class="alert alert-info">
    @Model.Description
</div>

@foreach (var post in Model.ForumPosts)
{
    <div class="media-body">
        <h4 class="mt-0">
            <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
        </h4>
        <p>@post.ShortContent</p>
        <ul class="text-right list-inline list-unstyled">
            <li class="list-inline-item">
                <i class="fas fa-user-edit"></i>
                By @post.UserUserName
            </li>
            <li class="list-inline-item">
                <i class="fas fa-calendar-alt"></i>
                @post.CreatedOn
            </li>
            <li class="list-inline-item">
                <i class="fas fa-comment-dots"></i>
                @post.CommentsCount comments
            </li>
        </ul>
    </div>
}

<nav class="mt-5" aria-label="Category @Model.Title navigation">
    <ul class="pagination justify-content-center">

        <li class="page-item @this.Model.PrevState">
            <a class="page-link" 
               asp-route="forumCategory"
               asp-route-name="@Model.Title" 
               asp-route-page="@Model.PreviousPage">Previous</a>
        </li>

        @for (var i = 1; i <= Model.PagesCount; i++)
        {
            <li class="page-item @Model.CurrentState(i)">
                <a class="page-link" 
                   asp-route="forumCategory"
                   asp-route-name="@Model.Title"
                   asp-route-page="@i"
                   >@i</a>
            </li>
        }

        <li class="page-item @this.Model.NextState">
            <a class="page-link" 
               asp-route="forumCategory"
               asp-route-name="@Model.Title"
               asp-route-page="@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>
